h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: small;
    color: black;
}
.parrafo{
    background-color: aqua;
    font-size: 25px;
    text-align: center;
}